{% extends 'base.html' %}
{% block title %}
  About Us
{% endblock %}
{% block body %}
  <div class="row">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="col-md-12">
        <h1 class="display-4 fst-italic">CodeCrafter</h1>
        <p class="lead my-3">Programming blogs are the blogs written by the top coders that help you to learn and improve your coding skills. How to start a programming blog? Starting a programming blog as easy as others niche, get a domain registered with web hosting and start publishing posts relevant to programming niche.</p>
      </div>
    </div>
  </div>
  <div class="container my-3">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <h2 class="fw-normal">Help</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p>
          <a class="btn btn-secondary" href="#">View details »</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <h2 class="fw-normal">Community</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p>
          <a class="btn btn-secondary" href="#">View details »</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <h2 class="fw-normal">Develepors</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p>
          <a class="btn btn-secondary" href="#">View details »</a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
{% endblock %}
