{% extends "base.html" %}
{% block title %} Contact Us {% endblock title %}
{% block body %}
<div class="container my-3">
    <form>

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" aria-label="Name">
        </div>


        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="phone" id="phone" name="phone" class="form-control" id="phoneNumber">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">What Can We Help For You?</label>
            <input type="textarea" class="form-control" id="textarea">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
          </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}