{% extends 'base.html' %}
{% block title %}
CodeCrafter
{% endblock %}

{% block body %}
<div class="row">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-md-12">
      <h1 class="display-4 fst-italic">CodeCrafter <br>featured blogs</h1>
      <p class="lead my-3">Programming blogs are the blogs written by the top coders that help you to learn and improve your coding skills. How to start a programming blog? Starting a programming blog as easy as others niche, get a domain registered with web hosting and start publishing posts relevant to programming niche.</p>
    </div>
  </div>
</div>
  <div class="row mb-1">
    <h2>Popular Blogposts:</h2>
    {% if allPosts %}
    {% with PopularPost=allPosts.0 %}
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{PopularPost.title}}</h3>
          <strong class="d-inline-block mb-2 text-primary-emphasis">Author- {{PopularPost.author}}</strong>
          <div class="mb-1 text-body-secondary">{{PopularPost.timeStamp}}</div>
          <p class="card-text mb-auto"><div class="preview">{{PopularPost.content|truncatechars:400}} </div></p>
          <a href="/blog/{{PopularPost.slug}}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading<svg class="bi">
              <use xlink:href="#chevron-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    {% endwith %}
    {% endif %}

{% endblock %}